body{
  margin: 0;
  padding: 0;
  background-color:rgb(192, 191, 191);
}

.top-container{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url(./nikita-kachanovsky-OVbeSXRk_9E-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 40px;
  position: relative;
}

.title-text{
  flex:1;
  text-align: center;
}

.title-text h1{
  color: aliceblue;
  font-size: 5rem;
  font-family:'overlock sc', sans-serif;
  margin: 0;
}

.title-text h2{
 color: aliceblue; 
 font-size: 1.5em;
 font-family:'afacad';
 margin-top: 10px;
}

.middle-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 40px;
}
.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.profile-img{
  max-width: 100%;
  height: auto;
  border-radius:  50%;
  max-height: 150px;
  margin-bottom: 20px;
}

.profile h3{
  
  text-align: center;
  margin: 20px;
  font-size: 2.5em;
  color: rgb(1, 1, 0);
}

.profile p{
  font-size: 1.5rem;
  color:rgb(0, 0, 0);
  margin: 0 auto;
  max-width: 400px;
  line-height: 2;
  text-align: left;
 
}

hr {
  border: dotted #141515 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.pc{
  display: flex;
  flex-direction: row;
  max-width: 400px;
  align-items:center;
  margin: 0 auto;
}

.coding{
  margin-left: 20px;
}

.parent{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  width: 50%;
  margin: 100px auto 0 auto;
  text-align: left;
  row-gap: 2rem;

}
.parent{
  display: flex;
  flex-direction: column; 
  align-items: center;
  max-width: 80%;
  margin: 0 auto;

}

.coding p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.skills h2{
  font-size: 3rem;
  padding-bottom: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.egg{
 align-items: center;
 margin-left: 30px;
 max-width: 100%;
 height: auto;
 max-height: 150px;

}
  


@media screen and (max-width: 768px) {
  .top-container {
      height: auto;
      padding: 20px;
      background-size:100% auto;
      background-position: center;
  }

.title-text h1 {
  font-size: 1.5em;
}
.title-text h2 {
  font-size: 1em;
}
.middle-container {
  flex-direction: column;
  align-items: center;
}
.profile-img{
  margin-left: 0;
}
.profile h3 {
  padding-left: 0;
  font-size: 1.5em;
}
}


